/* 
    Created on : 15 nov. 2019, 16:43:05
    Author     : June
*/
/*Toy probando*/
/*Esto no va wtf*/

/*COLORES: https://es.wikipedia.org/wiki/Anexo:Colores_por_orden_alfab%C3%A9tico
https://htmlcolorcodes.com/es/
*/

header {
    width: 96%;
    padding: 2%;
    text-align: center;
    background-color: #C6FAA6;
}
#menuprincipal a {
    font: bold 18px Arial, sans-serif;
    color: #333333;
    text-decoration: none;
}
img{
    width: 90px;
    /*margin-right: 50%;*/
    /*margin-top: 5%;*/
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C1E3AB;
    text-align: center;
}
li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}
li a:hover {
    background-color: #C6FAA6;
}

#pie {
    width: 96%;
    padding: 2%;
    background-color: #C6FAA6;
    position: absolute;
    bottom: 0;
}
#pie > div {
    width: 96%;
    padding: 2%;
    background-color: #C6FAA6;
    border-radius: 10px;
}

/*Mostraremos los campos requeridos de color amarillo*/
form input:required {
    border:2px solid yellow;
}
/*Si el valor que el usuario escribe es valido, obtendra un color verde*/
form input:valid{
    border:2px solid green;
}
/*caso contrario, el color sera rojo*/
form input:focus:invalid{
    border:2px solid red;
}

/*NO LA HACE MAS PEQUEÑA!!!!*/
img.casa{
  width: 10px; height: 10px;
}
